* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }
#square {
  width: 900px;
  height: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#square .quadrato {
  width: 150px;
  height: 180px;
  border: 1px solid black
}


.green {
  background-color: green;
  border: 1px solid black;
}
